@import "main_style.css";
/* Style for calendar div object */
ul {
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
}

#month {
    font-size: 24px;
    padding-left: 20px;
}

#year {
    font-size: 16px;
    padding-left: 20px;
}

#calendarObject {
    padding-left: 20px;
}

.calendarDates {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto; /*7 columns for each day of week*/
    grid-template-rows: auto auto auto auto auto auto; /*6 rows (weeks)*/
    grid-gap: 0;
    border: solid black 2px;
}

.calendarDates ul.date {
    background-color: white;
    width: 200px;
    height: 140px;
    border: solid black 2px;
    margin: 0px;
}

.calendarDates ul.date li {
    padding: 0;
    margin: 5px;
    margin-left: 10px;
    color: black;
}

.calendarDates ul.date li#number {
    padding: 0;
    background-color: transparent;
    color: black;
    margin:0;
    margin-left: 4px;
    font-size: 22px;
    padding-bottom: 2px;
}
/*
.calendarDates ul.past {
    background-color: brown;
} 

.calendarDates ul.today {
    background-color: white;
} */
